[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git

[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "vendor/scala-mode2"]
	path = vendor/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
